<!DOCTYPE html>
<html>
<body>
  <h1>user form</h1>
  <form action="/user/add" method="POST">
    <label for="fname">Name:</label>
    <input type="text" id="fname" name="name"><br><br>
    <label for="lname">Email:</label>
    <input type="text" id="lname" name="email"><br><br>
    <label for="lname">Age:</label>
    <input type="text" id="lname" name="age"><br><br>
    <label for="lname">City:</label>
    <input type="text" id="lname" name="city"><br><br>
    <input type="submit" value="Submit">
  </form>
 
</body>
</html>









